:root {
    --dark1: #100F0F;
    --dark2: #555555;
    --primary: #0F3D3E;
    --secondary: #E2DCC8;
    --light: #F1F1F1;
  }

.my-photo {
    width: 20%;
}

.about-section {
    padding-top: 70px;
}